@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-dark {
    background-color: #121212;
  }
  .border-primary {
    border-color: rgba(255, 255, 255, 0.1);
  }
  .bg-card-music {
    background-color: #2a2a2a;
  }
  .control-btn:hover {
    fill: #6ee7b7 !important;
  }

  [data-repeat="true"] > .control-btn,
  [data-shuffle="true"] > .control-btn {
    fill: #6ee7b7 !important;
  }
}
